<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
    <script src="../static/emr.js"></script>
</head>
<body style="background-color:#f8f9fa">
{% include "bootstrap.html" %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ url_for('main.features') }}"><i
                                    class="fas fa-house"></i></a>
                        </li>
                        <li class="nav-item">
                            <strong><p id="patient-name" class="nav-link"></p></strong>
                        </li>
                        <li class="nav-item">
                            <b><p id="fam-name" class="nav-link"></p></b>
                        </li>
                        <li class="nav-item">
                            <p id="dob" class="nav-link"></p>
                        </li>
                        <li class="nav-item">
                            <p id="phone" class="nav-link"></p>
                        </li>
                    </ul>
                </div>
                <form class="d-flex search-form" role="search">
                    <input name="search-patient-input" class="form-control me-2" type="search" placeholder="Search"
                           aria-label="Search" style="width: 100px">
                    <button name="search-patient-button" class="btn btn-outline-success" type="submit">Search
                    </button>
                </form>
            </nav>
        </div>

        <div class="col-md-6"
             style="display: flex;flex-direction: column;justify-content: center;background-color:#f8f9fa">
            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <h5>johny</h5>
                    </div>
                    <div class="carousel-item">
                        <h5>maria</h5>
                    </div>
                    <div class="carousel-item">
                        <h5>Hello</h5>
                    </div>
                </div>
                <button style="background-color: green;width: 20px" class="carousel-control-prev" type="button"
                        data-bs-target="#carouselExample"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button style="background-color: green;width: 20px" class="carousel-control-next" type="button"
                        data-bs-target="#carouselExample"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-m-6">
            <a class="list-group" id="search-results"></a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <label>Current & Past Medical History</label>
            <textarea class="form-control" name="med-history" rows="5"></textarea>
        </div>
        <div class="col-md-3">
            <label>Physical Examination</label>
            <textarea class="form-control" name="physical-exam" rows="5"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Prescription</label>
            <textarea class="form-control" name="prescription" rows="3"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Diagnostics</label>
            {#            on mobile screen, the table is not reduced to fit the mobile view#}
            <table class="table">
                <thead>
                <tr>
                    <th>
                        Code
                    </th>
                    <th>
                        Description
                    </th>
                    <th id="centerA_Prices">
                        <span class="hover-text">Center A</span>
                        <input hidden value="" name="centerA">
                    </th>

                    <th id="centerB_Prices">
                        <span class="hover-text">Center B</span>
                        <input hidden value="" name="centerB">
                    </th>
                    <th id="centerC_Prices">
                       <span class="hover-text">Center C</span>
                        <input hidden value="" name="centerC">
                    </th>
                    <th>
                        Delete
                    </th>

                </tr>
                </thead>
                <tbody>
                <form class="search-diagnostics">
                    <tr id="last-charge-code-row">
                        <td>
                            <input type="text" placeholder="code / descrip" name="search-code" class="form-control"
                                   size="10" autocomplete="off">
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <button id="search-button" style="width: 65px;border-color: green"
                                    class="form-control btn btn-light"
                            >Add
                            </button>
                        </td>
                        <td>
                            <button id="print-button" style="width: 65px;border-color: green"
                                    class="form-control btn btn-light">Print
                            </button>
                        </td>
                    </tr>
                </form>
                </tbody>
            </table>
        </div>
    </div>
</div>


</body>
</html>

