<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
</head>
<body>
{% include "bootstrap.html" %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a style="margin-right: 30px;color: orange;font-weight: bold" class="navbar-brand" href="#">SolvIT</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown" style="margin-right: 20px">
                    <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Appointment
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('main.register_patient') }}">Register a patient</a></li>

                        <li><a class="dropdown-item" href="#">Book an appointment</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Reschedule an appointment</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown" style="margin-right: 20px">
                    <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Reports
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Medical Report</a></li>
                        <li><a class="dropdown-item" href="#">Sick Leave</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Prescription</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown" style="margin-right: 20px">
                    <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Instructions & Reminders
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">General Reminders</a></li>
                        <li><a class="dropdown-item" href="#">Prior to Procedure</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Post Procedure</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown" style="margin-right: 20px">
                    <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Finances
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Bill a patient</a></li>
                        <li><a class="dropdown-item" href="#">Place orders</a></li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Stock Management</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Financial Dashboard</a></li>

                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tele-Consultation</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
</body>
</html>