<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
</head>
<body>
{% include "bootstrap.html" %}
{% include "navbar.html" %}

<div class="container-fluid" style="margin-top: 5px">
    <div class="row">
        <div class="col-md-6">
            <img src="../static/patient-registration.jpeg" class="register-patient-img">
        </div>

        <div class="col-md-6 index-form ">
            <form method="POST">
                <div class=" form-group">
                    {{ form.name(placeholder='Name',class='form-control') }}
                </div>
                <div class=" form-group">
                    {{ form.father(placeholder="Father's Name",class='form-control') }}
                </div>
                <div class="form-group">
                    {{ form.family(placeholder="Family Name",class='form-control') }}
                </div>
                <div class="form-group">
                    {{ form.dob(class='form-control') }}
                </div>
                <div class="form-group">
                    {{ form.gender(placeholder="Gender",class='form-control') }}
                </div>
                <div class="form-group">
                    {{ form.phone(placeholder="Phone",class='form-control') }}
                </div>
                <div class="form-group">
                    {{ form.email(placeholder="Email",class='form-control') }}
                </div>
                <div class="form-group">
                    {{ form.city(placeholder="City",class='form-control') }}
                </div>
                <div class="form-group text-center">
                    {{ form.submit(class='btn btn-light',style='border-color:green') }}
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>